@use "@material/button";
@include button.core-styles;
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";

@include icon-button.core-styles;


h1 {
    margin: auto;
    color: #c5a716;
    font-size: 50pt;
    -webkit-text-stroke: 1px #5d3927;
}
h2 {
    margin: auto;
    color: #ffffff;
    background-color: rgb(200,173,22, 0.6);
    border-radius: 5px;
}
body {
    font-family: 'Calibri', sans-serif;
    height:205px;
    width: 100%; /* fall back */
    width: 100vw;
    background-position:left top;
    background-image:url(fond.png);
    background-repeat:repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
figure {
    display: inline-block;
    justify-content: space-around;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;                
}
fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 80, 22,0.4);
}
img {
    width: min-content;
    margin-right: auto;
    margin-left: auto;
}

.containerimg {
    text-align: center;
}
button:active {
    background-color: green;
}
button {
    margin-bottom: 10px;
}
section {
    text-align: center;
}
.produits {
    text-align: center;
}
nav {
    width: 150px;
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}
.intro {
    border: 1px solid black;
    background-color: rgb(51, 197, 22, 0.4);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 150px;
    margin-right: 10px;
    color: #000000;
    text-align: center;
}
ul {
    margin-top: 50px;
    text-align: center;
    list-style: none;
    padding: 0;
}
li {
    margin-top: 25px;
}
figcaption {
    margin-bottom: 10px;
    text-transform: capitalize;    
}



