h1 {
    text-align: center;
    color: white;
    font-size: 40pt;
}
h2 {
    text-align: center;
    color: white;
}
tr {
    text-align: center;
    color: white;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    text-align: center;
    color: white;
}
body {
    font-family: 'Calibri', sans-serif;
    height:205px;
    width: 100%; /* fall back */
    width: 100vw;
    background-position:left top;
    background-image:url(forest.jpg);
    background-repeat:repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}