body {
    font-family: 'Calibri', sans-serif;
    background-image:url(fond.png);
    background-size:cover;
    background-attachment: scroll;
    padding: 0;
    margin: 0;
}
h1 {
    margin: auto;
    color: rgba(200, 173, 22);
    font-size: 50pt;
    -webkit-text-stroke: 1px #afc9dc;
}
h2 {
    margin: auto;
    color: #ffffff;
    background-color: rgb(200,173,22, 0.6);
    border-radius: 5px;
}

figure {
    display: inline-block;
    justify-content: space-around;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;   
    border-radius: 45px; 
    background-color: #8ab26b4d; 
    box-shadow:  0 4px 8px 3px rgba(194, 191, 191, 0.2), 
                 0 6px 20px 3px #174d04b0;
    /*border-radius: 39px;
    background: rgb(138, 178, 107, 0.6);
    box-shadow: inset 19px 19px 38px rgb(119, 153, 92, 0.6),
            inset -19px -19px 38px rgb(157, 203, 122, 0.6);*/
}
figure + figure {
    margin-left: 25px;
}
fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(197, 80, 22,0.4);
}
fieldset > span {
    flex-direction: column;
}

fieldset > span > h2 {
    text-align: center;
}

body > fieldset >.img {
    height:175px;
    width: 175px;
}

img {
    width: min-content;
    margin-right: auto;
    margin-left: auto;
}

.containerimg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerimg > .d_button > #direct {
    width: 100px;
}
button:active {
    background-color: green;
}
button {
    margin-bottom: 10px;
}

.produits {
    text-align: center;
}
nav {
    width: 210px;
    float: left;
    display: inline;
    margin-left: 1%;
    padding: 0;
    margin-right: 10px;
}
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(2, 68, 2, 0.4);
    background-color: rgb(51, 197, 22, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    border-radius: 5px;
    text-align: center;
}

ul {
    margin-top: 50px;
    text-align: center;
    list-style: none;
    padding: 0;
}
li {
    margin-top: 25px;
}
figcaption {
    margin-bottom: 10px;
    text-transform: uppercase;
    background-color: rgb(250, 128, 114, 0.4); 
    height: 25px;
    width: 90%;  
    border-radius: 4px;
    font-weight: bold;
}
* {
    --mdc-theme-primary: #eeaf3ac0;
    --mdc-theme-on-primary: #ffffff;
}

section > article.article {
    margin: .5rem;
}

.video > iframe {
    margin-left: 10%;
    width: 200px;
    height: 200px;
}
figure > .containerimg > .prix {
    background-color: rgba(96, 205, 238, 0.6); 
    margin-bottom: 10px;
    font-size: 20pt;
    color: white;
    border-radius: 4px;
    border: 3px solid rgba(3, 51, 3, 0.6);
    width: 40%;
}

/*###########*/

input[type="file"]{
    display: none;
}

.floating-btn {
    font-family: 'Calibri', sans-serif;
    width: 200px;
    height: 40px;
    background: #eeaf3ac0;
    text-decoration: none;
    border-radius: 5%;
    color: #ffffff;
    font-size: 20px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    transition: background-color 0.25s ease-out, box-shadow 0.25s ease-out;
    border: none;
    cursor: pointer;
    outline: none;
}
.floating-btn:hover {
    box-shadow: 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12);
}


.floating-btn.clicked {
    background-color: #ff0000;
}

.floating-btn i {
    transition: transform 0.25s cubic-bezier(.4, 0, .2, 1);
}

.floating-btn.clicked i {
    transform: rotate(315deg);
}

#labelFile{
    color: white;
    height: 30px;
    width: 125px;
    background-color: #f5af09;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

#legal{
    margin: 16px auto;
    text-align: center;
    color: #ccc;
    font-size: 10px;
    max-width: 25em;
    line-height: 1.0;
    letter-spacing: .2px;
}

#inputFile{
    border: 0 !important;
    margin-bottom: 10px;
}

.icon{
    margin-right: 8px;
    opacity: 0.5;
    font-size: 21px;
}

#iconPhoto{
    margin-right: 8px;
    opacity: 0.7;
    font-size: 18px;
}

.form-box {
    margin: 16px auto;
    font-size: 16px;
    border-radius: 9px;
    position: absolute;
    top: 47%;
    left: 30%;
    transform: translate(-50%,-50%);
    width: 340px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-sizing: border-box;
    background-color: #f5f5f7;
}

.test{
    background-color: #fff;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 27px;
    margin-left: 37px;
    margin-right: 37px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;

}

.login-header {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background: #5794bf;
    padding: 23px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.form-box input{
    padding: 10px 0;
    margin-bottom: 30px;

}
.form-box textarea{
    height: 80px;
    padding: 10px 0;
    margin-bottom: 20px;
}

.form-box input,.form-box textarea{
    width: 100%;
    box-shadow: none;
    outline: none;
    box-sizing: border-box;
    border: none;
    cursor: text;
    border-bottom: 1px solid #dcdcdc;
    transition: .3s width ease-in-out;
    margin: none;
  
}

.form-box input[type="submit"]{
    border-bottom: none;
    cursor: pointer;
    background: #4169cc;
    color: #fff;
    margin-bottom: 0;
}
.form-box form div{
    position: relative;
}

#submitButt{
    width: 30%;
    margin-left: 121px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 15px;
    opacity: 10;
}

.active{
    opacity: 0.7 !important;
}

.form-box form div .inputLabel{
    position: absolute;
    left: -1px;
    top: 8px;
    pointer-events: none;
    color: #999;
    transition: .2s ease-in-out;
    font-size: 14px;
}

.form-box input:focus ~ .inputLabel,
.form-box textarea:focus ~ .inputLabel,
.form-box input:valid ~ .inputLabel,
.form-box textarea:valid ~ .inputLabel{
    top: -12px;
    left: 0;
    color: #4169cc;
    font-size: 10px;
    font-weight: bold;
    transition: .2s ease-in-out;
}

.form-box input:focus,
.form-box textarea:focus,
.form-box textarea:valid,
.form-box input:valid{
    width: 100%;
    border-bottom: 2px solid rgb(76, 118, 224);
}

.footer{
    margin-bottom: 0;
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background: #fff;
    margin-bottom: 0px;
    border-radius: 0 0 6px 6px;
}








