body {
    font-family: 'Calibri', sans-serif;
    background-image:url(fond.png);
    background-size:cover;
    background-attachment: scroll;
}
h1 {
    margin: auto;
    color: rgba(200, 173, 22);
    font-size: 50pt;
    -webkit-text-stroke: 1px #afc9dc;
}
h2 {
    margin: auto;
    color: #ffffff;
    background-color: rgb(200,173,22, 0.6);
    border-radius: 5px;
}

figure {
    display: inline-block;
    justify-content: space-around;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;   
    border-radius: 45px; 
    background-color: #8ab26b4d; 
    box-shadow:  0 4px 8px 3px rgba(194, 191, 191, 0.2), 
                 0 6px 20px 3px #174d04b0;
    /*border-radius: 39px;
    background: rgb(138, 178, 107, 0.6);
    box-shadow: inset 19px 19px 38px rgb(119, 153, 92, 0.6),
            inset -19px -19px 38px rgb(157, 203, 122, 0.6);*/
}
figure + figure {
    margin-left: 25px;
}
fieldset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 80, 22,0.4);
}
fieldset > span {
    flex-direction: column;
}

fieldset > span > h2 {
    text-align: center;
}

body > fieldset >.img {
    height:175px;
    width: 175px;
}

img {
    width: min-content;
    margin-right: auto;
    margin-left: auto;
}

.containerimg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerimg > .d_button > #direct {
    width: 100px;
}
button:active {
    background-color: green;
}
button {
    margin-bottom: 10px;
}

.produits {
    text-align: center;
}
nav {
    width: 210px;
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(2, 68, 2, 0.4);
    background-color: rgb(51, 197, 22, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    border-radius: 5px;
    text-align: center;
}

ul {
    margin-top: 50px;
    text-align: center;
    list-style: none;
    padding: 0;
}
li {
    margin-top: 25px;
}
figcaption {
    margin-bottom: 10px;
    text-transform: uppercase;
    background-color: rgb(250, 128, 114, 0.4); 
    height: 25px;
    width: 90%;  
    border-radius: 4px;
    font-weight: bold;
}
* {
    --mdc-theme-primary: #eeaf3ac0;
    --mdc-theme-on-primary: #ffffff;
}

section > article.article {
    margin: .5rem;
}

.video > iframe {
    margin-left: 10%;
    width: 200px;
    height: 200px;
}
figure > .containerimg > .prix {
    background-color: rgba(96, 205, 238, 0.6); 
    margin-bottom: 10px;
    font-size: 20pt;
    color: white;
    border-radius: 4px;
    border: 3px solid rgba(3, 51, 3, 0.6);
    width: 40%;
}








