body {
    font-family: 'Calibri', sans-serif;
    height:205px;
    width: 100%; /* fall back */
    width: 100vw;
    background-position:left top;
    background-image:url(fond.png);
    background-repeat:repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
h1 {
    margin: auto;
    color: rgba(200, 173, 22);
    font-size: 50pt;
    -webkit-text-stroke: 1px #afc9dc;
}
h2 {
    margin: auto;
    color: rgb(255, 255, 255);
    background-color: #c8ad1699;
    border-radius: 5px;
    font-size: 25pt;
}
figure {
    display:inline-block;
    justify-content: space-around;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;  
    border: 1px solid salmon;
    border-radius: 50px;
                 
}
fieldset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 80, 22,0.4);
}
fieldset > span {
    flex-direction: column;
}
fieldset > span > h2 {
    text-align: center;
}

body > fieldset >.img {
    height:175px;
    width: 175px;
}
img {
    width: min-content;
    margin-right: auto;
    margin-left: auto;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.containerimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22pt;
}
.containerimg > .d_button {
    flex-direction: row;
}
.containerimg > .d_button > #direct {
    width: 150px;
    height: fit-content;
}
button:active {
    background-color: green;
}

.produits {
    text-align: center;
}

nav {
    width: 250px;
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(2, 68, 2, 0.4);
    background-color: rgb(51, 197, 22, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    border-radius: 5px;
    text-align: center;
    font-size: x-large;
}
ul {
    margin-top: 50px;
    text-align: center;
    list-style: none;
    padding: 0;
}
li {
    margin-top: 25px;
}
figcaption {
    margin-bottom: 10px;
    text-transform: uppercase;
    background-color: rgb(250, 128, 114, 0.4); 
    height: fit-content;
    width: fit-content;  
    border-radius: 4px;
}
.mdc-button--raised.mdc-button--raised {
    width: fit-content;
}

nav > ul > li > .mdc-button--raised.mdc-button--raised {
    height: 60px;
}
* {
    --mdc-theme-primary: #51b364;
    --mdc-theme-on-primary: #ffffff;
}
.mdc-button__label.mdc-button__label {
    font-size: x-large;
}
.video > iframe {
    margin-left: 10%;
    width: 200px;
    height: 200px;
}
figure > .containerimg > .prix {
    background-color: rgb(250, 128, 114, 0.4); 
    margin-bottom: 10px;
    font-size: 30pt;
}





