@use "@material/button";

@include button.core-styles;
h1 {
    margin: auto;
    color: #c5a716;
    font-size: 50pt;
    -webkit-text-stroke: 1px #5d3927;
}
h2 {
    margin: auto;
    color: #000000;
    background-color: rgb(200,173,22, 0.6);
    border-radius: 5px;
    text-align: center;
}
tr {
    text-align: center;
    color: rgb(0, 0, 0);
}

label {
    display: block;
    display: inline;
    font: 1rem 'Fira Sans', sans-serif;
    text-align: left;
    color: rgb(0, 0, 0);
}
body {
    font-family: 'Calibri', sans-serif;
    height:205px;
    width: 100%; /* fall back */
    width: 100vw;
    background-position:left top;
    background-image:url(fond.png);
    background-repeat:repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div{
    color: rgb(0, 0, 0);
}
.produits {
    text-align: center;
}
.boutonpaie {
    display: block;
    margin: auto;
}
fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 80, 22,0.4);
}
* {
    --mdc-theme-primary: #51b364;
    --mdc-theme-on-primary: #ffffff;
}