@use "@material/button";

@include button.core-styles;
h1 {
    margin: auto;
    color: #c5a716;
    font-size: 50pt;
    -webkit-text-stroke: 1px #5d3927;
    text-align: center;
}
h2 {
    margin: auto;
    color: #ffffff;
    background-color: rgb(200,173,22, 0.6);
    border-radius: 5px;
    text-align: center;

}
.article {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
tr {
    text-align: center;
    color: rgb(0, 0, 0);
}

label {
    display: block;
    display: inline;
    font: 1rem 'Fira Sans', sans-serif;
    text-align: left;
    color: rgb(0, 0, 0);
}
body {
    font-family: 'Calibri', sans-serif;
    height:205px;
    width: 100%; /* fall back */
    width: 100vw;
    background-position:left top;
    background-image:url(fond.png);
    background-repeat:repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.containerimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22pt;
}
button {
    font-size: x-large;
}
label {
    font-size: x-large;
}
div{
    color: rgb(0, 0, 0);
}
.produits {
    text-align: center;
}
.boutonpaie {
    display: block;
    margin: auto;
}
fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 80, 22,0.4);
}
.mdc-button--raised.mdc-button--raised {
    width: fit-content;
}
* {
    --mdc-theme-primary: #51b364;
    --mdc-theme-on-primary: #ffffff;
}
.mdc-button__label.mdc-button__label {
    font-size: x-large;
}
figcaption {
    margin-bottom: 10px;
    text-transform: uppercase;
    background-color: rgb(250, 128, 114, 0.4); 
    height: fit-content;
    width: fit-content;  
    border-radius: 4px;
}
input {
    font-size: x-large;
    width: 10%;
    border: 2px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255, 0.2);
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px 12px;
    outline: 0;
}