body {
    font-family: 'Calibri', sans-serif;
    background-image: url("pattern_fond.jpg"); 
    background-color: #cccccc; 
    height: 500px; 
    background-position: center; 
    background-repeat: repeat; 
    background-size: cover; 
}
h1 {
    text-align: center;
    color: blue;
}
h2 {
    text-align: center;
    color: blue;
}
figure {
    background-color: rgb(154, 205, 50, 0.6);
    width: min-content;
    margin-left: auto;
    margin-right: auto;                
}
fieldset {
    background-color: rgb(0, 128, 0, 0.6);
    font-size: x-large;
}
img {
    width: min-content;
    margin-right: auto;
    margin-left: auto;
}
.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.containerimg {
    text-align: center;
    font-size: x-large;
}
.button {
    font-size: x-large;
}


