h1 {
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    color: white;
}
tr {
    text-align: center;
    color: white;
}
button {
    position:relative;
    left:45%;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    text-align: center;
    color: white;
}
body {
    height:205px;
    width: 100%; /* fall back */
    width: 100vw;
    background-position:left top;
    background-image:url(vin-pique-nique.jpg);
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}